<button type="button">
  Add new food
</button>
<div>
        <div>
          <h5 >Create new food</h5>
        </div>
        <div >
              <%= form_with scope: :food, url: foods_path, method: :post  do |form| %>
                <div>
                  <label for="name">Name</label>
                  <%= form.text_field :name, required: true, autofocus: true %>
                </div>
                <div>
                  <label for="measurement_unit">Measurement unit</label>
                  <%= form.text_field :measurement_unit, required: true %>
                </div>
                <div>
                  <label for="price">Price</label>
                  <%= form.text_field :price, required: true %>
                </div>
              <br>
              <div>
              <%= form.submit 'Save food' %>
              <% end %>
              </div> 
      </div>
</div>
<br>