<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% if user_signed_in? %>
        <strong><%= current_user.email %></strong>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'left-padding-nav navbar-link' %> 
        <%= link_to "Logout", destroy_user_session_path, :class => 'left-padding-nav navbar-link'  %>
      <% else %>
      <%= link_to "Login", new_user_session_path, :class => ' navbar-link'  %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'left-padding-nav navbar-link'  %> 
      <% end %>
    </nav>
    <%= yield %>
    <p class="text-align-center notice-p"><%= notice %></p>
    <p class="text-align-center alert-p"><%= alert %></p>
  </body>
</html>
